  <!-- --------------------------------------------------------------- start footer ----------------------------------->

  <footer >
    <div class="container footer-container mt-5">
        <!-- قسم الخريطة -->
        <div class="footer-map">
            <h3>location</h3>
            <!-- تضمين خرائط جوجل -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.1322924625117!2d144.96305831581817!3d-37.81362777975198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0x5045675218ce6e0!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2s!4v1635508946497!5m2!1sen!2s"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <!-- قسم معلومات التواصل -->
        <div class="footer-center">
            <h3> contactus</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <p>01280379967 | 01064736310</p>
            <p> privacy policy</p>
        </div>


        <div class="payment ">
            <h4>payment</h4>
            <div class="icon-pay">
                <i class="fa-regular fa-credit-card"></i>
                <i class="fa-solid fa-money-check"></i>
                <i class="fa-brands fa-cc-visa"></i>

            </div>
        </div>

        <!-- قسم الروابط السريعة -->
        <div class="footer-right">
            <ul>
                <li><a href="# header">Main</a></li>
                <li><a href="#Gifts">Gifts</a></li>
                <li><a href="# plam">plam</a></li>
                <li><a href="# pottery">pottery</a></li>
            </ul>
        </div>
    </div>

    <!-- قسم سياسة الخصوصية -->
    <div class="footer-bottom">
        <p> Copyright © 2024. All rights reserved. | privacy policy</p>
    </div>
</footer>

<!----------------------------------------------- end footer ------------------------------------------------>
