    <!------------------------------------------------ start up nav------------------------------------------>


    <div class=" main-cart">
      <div class="container">
          <div class="scoial-icon d-flex justify-content-end align-content-center">
              <div class=" login ">
                  <a href="#"> <i class="fa-solid fa-user-plus"></i></a>
              </div>

              <div class="cart-wish">
                  <i class="fa-solid fa-heart"></i>
                  <!-- <span class="count-wish"> 0</span> -->
              </div>

              <div class="cart-shoping">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <!-- <span class="count-item">0</span> -->
              </div>


          </div>

      </div>
  </div>

  <!------------------------------------------------ start up nav------------------------------------------>








  <!-- ---------------------------------------------- start nav bar ---------------------------------------- -->

  <nav class="navbar navbar-light bg-secondary-subtle ">
      <div class="container container-fluid">
          <a class="navbar-brand fw-bold ">SouQ Egypt</a>
          <form class="d-flex">
              <input class="form-control ps-5 me-2 text-center" type="search" placeholder="Search for products"
                  aria-label="Search">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
      </div>
  </nav>
  <!-- ---------------------------------------------- end nav bar ---------------------------------------- -->










  <!-- ------------------------------------------- start head------------------------------ -->

  <div class="header">

      <div class=" container main-header">
          <div class="lists">
              <ul>
                  <li><a routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                  <li><a routerLink="/gifts" routerLinkActive="active">Gifts</a></li>
                  <li><a routerLink="/plam" routerLinkActive="active">plam</a></li>
                  <li><a routerLink="/pottery" routerLinkActive="active">pottery</a></li>
                  <li><a routerLink="/who-we-are" routerLinkActive="active">who we are</a></li>
              </ul>
          </div>
      </div>

  </div>
  <!-- ------------------------------------------- end head------------------------------ -->

