<div class="container my-4">
  <h2 id="pottery" class="pottery-category text-black text-center m-5">pottery</h2>
  <div class="row" id="products-container">
      <!-- كارد 1 -->
      <div class="col-md-3 col-sm-4 mb-4">
          <div class="card">
              <img src="/assets/images/pottery-5.jpg" class="card-img-top" alt="شمعدان">
              <div class="card-body text-center">
                  <h5 class="card-title text-black">candlestick</h5>
                  <p class="card-text">
                      <span class="current-price text-dark fw-bold">500</span>
                      <span class="old-price  text-decoration-line-through ms-2">450</span>
                  </p>
                  <div class="d-grid gap-2">
                      <button class="btn btn-light border border-dark-1 buy-button" data-product-name="شمعدان"
                          data-product-price="500" data-toggle="modal" data-target="#paymentModal">buy</button>
                      <a href="./شمعدان.html" class="btn btn-outline-secondary">Details</a>
                  </div>
              </div>
          </div>
      </div>

      <!-- كارد 2 -->
      <div class="col-md-3 col-sm-4 mb-4">
          <div class="card">
              <img src="/assets/images/pottery-3.jpg" class="card-img-top" alt="قدر فخاري">
              <div class="card-body text-center">
                  <h5 class="card-title">Pottery pot</h5>
                  <p class="card-text">
                      <span class="current-price text-dark fw-bold">150</span>
                      <span class="old-price text-danger text-decoration-line-through ms-2">120</span>
                  </p>
                  <div class="d-grid gap-2">
                      <button class="btn btn-light border border-dark-1 buy-button" data-product-name="قدر فخاري"
                          data-product-price="150" data-toggle="modal" data-target="#paymentModal">buy</button>
                      <a href="#" class="btn btn-outline-secondary">Details</a>
                  </div>
              </div>
          </div>
      </div>

      <!-- كارد 3 -->
      <div class="col-md-3 col-sm-4 mb-4">
          <div class="card">
              <img src="/assets/images/pottery-1.jpg" class="card-img-top" alt="ابريق خزفي مزخرف">
              <div class="card-body text-center">
                  <h5 class="card-title">Decorated ceramic jug</h5>
                  <p class="card-text">
                      <span class="current-price text-success fw-bold">390</span>
                      <span class="old-price text-danger text-decoration-line-through ms-2">355</span>
                  </p>
                  <div class="d-grid gap-2">
                      <button class="btn btn-light border-dark-1 buy-button" data-product-name="ابريق خزفي مزخرف"
                          data-product-price="390" data-toggle="modal" data-target="#paymentModal">buy</button>
                      <a href="#" class="btn btn-outline-secondary">Details</a>
                  </div>
              </div>
          </div>
      </div>

      <!-- كارد 4 -->
      <div class="col-md-3 col-sm-4 mb-4">
          <div class="card">
              <img src="/assets/images/pottery-2.jpg" class="card-img-top" alt="مزهرية خزفية">
              <div class="card-body text-center">
                  <h5 class="card-title">Ceramic vase</h5>
                  <p class="card-text">
                      <span class="current-price text-success fw-bold">550</span>
                      <span class="old-price text-danger text-decoration-line-through ms-2">495</span>
                  </p>
                  <div class="d-grid gap-2">
                      <button class="btn btn-light border border-dark-1 buy-button" data-product-name="مزهرية خزفية"
                          data-product-price="550" data-toggle="modal" data-target="#paymentModal">buy</button>
                      <a href="#" class="btn btn-outline-secondary">Details</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
