


    <!--------------------------------------------------------start gifts---------------------------------------------- -->

    <div class="container my-5">
        <h1 id="Gifts" class="text-center mb-5 text-dark">Gifts</h1>

        <div class="row">
            <!-- Start of first row -->
            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/praymed.png" class="card-img-top" alt=" ">
                    <div class="card-body">
                        <h5 class="card-title">pramid</h5>

                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1">buy</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/الجعران.png" class="card-img-top" alt="اسم المنتج">
                    <div class="card-body">
                        <h5 class="card-title">Scarab</h5>
                        <!-- <p class="card-text">وصف المنتج</p> -->
                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/جمل.png" class="card-img-top" alt="اسم المنتج">
                    <div class="card-body">
                        <h5 class="card-title">camel</h5>
                        <!-- <p class="card-text">وصف المنتج</p> -->
                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1">buy</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/مج.png" class="card-img-top" alt="اسم المنتج">
                    <div class="card-body">
                        <h5 class="card-title">cup</h5>
                        <!-- <p class="card-text">وصف المنتج</p> -->
                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1">buy</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of first row -->





        <!-- Start of second row -->
        <div class="row">

            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/صنيه.png" class="card-img-top" alt="اسم المنتج">
                    <div class="card-body">
                        <h5 class="card-title">A tray</h5>

                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1">buy</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/صندوق مجوهرات مصرية.png" class="card-img-top" alt="اسم المنتج">
                    <div class="card-body">
                        <h5 class="card-title">Egyptian jewelry box</h5>

                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/قلادة.png" class="card-img-top" alt="اسم المنتج">
                    <div class="card-body">
                        <h5 class="card-title">Isis necklace</h5>

                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1">buy</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="assets/images/ميدالية.png" class="card-img-top" alt="اسم المنتج">
                    <div class="card-body">
                        <h5 class="card-title">Keychain</h5>

                        <div class="price-container">
                            <span class="price">500 Eg</span>
                            <span class="old-price">700 Eg</span>
                        </div>
                        <button class="btn btn-light border border-dark-1">buy</button>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!--------------------------------------------------------end gifts---------------------------------------------- -->
