<section class="contact-section mb-5">
  <h2  id="who we are" class="text-black text-center pb-5 ">who we are</h2>

  <div class="container contact-container d-flex">
      <div class="info-containe w-50">
          <p class="fw-bolder text-black">We are the students of digital Egypt pioneers</p>
          <p class="text-black"> The goal of the project is to promote and market Egyptian products, especially small handicrafts. If you are always looking for a solution
          Part of these problems is communicating them to the target market</p>
      </div>
      <div class=" row g-3 d-flex flex-column">
          <div class="col d-flex ">
              <div class="">
                  <input type="text" class="form-control " placeholder="First name">
              </div>
              <div class="">
                  <input type="text" class="form-control" placeholder="Last name">
              </div>
          </div>
          <div class="col d-flex">
              <div class="col">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class=" col form-group">
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
          </div>

          <div class="col">
              <textarea class="form-control" placeholder="any question " aria-label="With textarea"></textarea>

          </div>

          <button class="btn btn-dark border border-dark-3"> send</button>
      </div>
  </div>
</section>
