









  <!-- <-----------------------------------------------------------  start plam ----------------------------------------------------------->
  <div class="products-section">
    <h2 id="plam" class="section-title text-center my-5 text-black">plam</h2>
    <div class="container">

        <div class="row">
            <!-- المنتج 1 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="/assets/images/قفه.jpeg" class="card-img-top" alt="قفه">
                    <div class="card-body text-center">
                        <h5 class="card-title">qafah</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$500</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$650</span>
                        </p>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <!-- المنتج 2 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="/assets/images/صنيه-تقديم.jpeg" class="card-img-top" alt="صينية تقديم">
                    <div class="card-body text-center">
                        <h5 class="card-title">Serving tray</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$300</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$500</span>
                        </p>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <!-- المنتج 3 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="/assets/images/سله-نخزين.jpeg" class="card-img-top" alt="سلة تخزين">
                    <div class="card-body text-center">
                        <h5 class="card-title">Storage basket</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$670</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$900</span>
                        </p>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <!-- المنتج 4 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="/assets/images/طبق-دائري.jpeg" class="card-img-top" alt="طبق دائري">
                    <div class="card-body text-center">
                        <h5 class="card-title">Circular plate</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$250</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$400</span>
                        </p>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <!-- المنتج 5 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="/assets/images/سبت-ملابس.jpeg" class="card-img-top" alt="سبت ملابس">
                    <div class="card-body text-center">
                        <h5 class="card-title">Saturday clothes</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$700</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$1000</span>
                        </p>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <!-- المنتج 6 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="/assets/images/قفه-الخضار.jpeg" class="card-img-top" alt="قفه الخضار">
                    <div class="card-body text-center">
                        <h5 class="card-title">qafah</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$500</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$600</span>
                        </p>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <!-- المنتج 7 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card overflow-hidden">
                    <img src="/assets/images/علبه-يدويه.jpg" class="card-img-top d" alt="علبة يدوية">
                    <div class="card-body text-center">
                        <h5 class="card-title">Food preserver</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$500</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$600</span>
                        </p>
                        <button class="btn btn-light border border-dark-1"> buy</button>
                    </div>
                </div>
            </div>

            <!-- المنتج 8 -->
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="/assets/images/pasket.png" class="card-img-top" alt="قفه">
                    <div class="card-body text-center">
                        <h5 class="card-title">qafah</h5>
                        <p class="card-text">
                            <span class="current-price text-success fw-bold">$500</span>
                            <span class="old-price text-danger text-decoration-line-through ms-2">$600</span>
                        </p>
                        <button class="btn btn-light border border-dark-1">buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ---------------------------------------------------end plam------------------------------------------ -->
