<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
  <div class="container">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner w-100">
          <div class="carousel-item active">
              <img src="assets/images/slide-one.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="assets/images/slide-two.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="assets/images/slide-three.webp" class="d-block w-100" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

    <!---------------------------------------------------------------start sponser static -------------------------------------------------------- -->


    <div class="demo-row">
      <div class="container" id="id-sponsors">
          <div id="sponsor-carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                  <div class="item active">
                      <div class="row">
                          <div class="col-sm-3 col-xs-6">
                              <div class="sponsor-feature"><img alt="" src="assets/images/jewellery-3.jpg"
                                      style="width:200px;" /></div>
                          </div>
                          <div class="col-sm-3 col-xs-6 ">
                              <div class="sponsor-feature"><img alt="" src="assets/images/jewellery-1.jpg"
                                      style="width: 200px;" /></div>
                          </div>
                          <div class="col-sm-3 col-xs-6">
                              <div class="sponsor-feature"><img alt=""
                                      src="assets/images/jewellery-2.jpg"
                                      style="width: 200px;" /></div>
                          </div>
                          <div class="col-sm-3 col-xs-6">
                              <div class="sponsor-feature"><img alt=""
                                      src="assets/images/watch-1.jpg"
                                      style="width: 200px;" /></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>


  <!-- ------------------------------------------------------end sponser static ---------------------------------------------------->


  <div class="al-safe">

    <div class="container">

        <div class="al-safe-container ">

            <div class="al-safe-card">
                <div class="al-safe-image">
                    <img src="/assets/images/sw1-jacket.jpg" class="al-safe-thumb" alt="">
                </div>
            </div>

            <div class="al-safe-card">
                <div class="al-safe-image">
                    <img src="/assets/images/sw2-jacket.jpg" class="al-safe-thumb" alt="">
                </div>
            </div>

            <div class="al-safe-card">
                <div class="al-safe-image">
                    <img src="/assets/images/sw3-belt.jpg" class="al-safe-thumb" alt="">
                </div>
            </div>

            <div class="al-safe-card">
                <div class="al-safe-image">
                    <img src="/assets/images/sw4.jpg" class="al-safe-thumb" alt="">
                </div>
            </div>

            <div class="al-safe-card">
                <div class="al-safe-image">
                    <img src="/assets/images/sw5.jpg" class="al-safe-thumb" alt="">
                </div>
            </div>

            <div class="al-safe-card">
                <div class="al-safe-image">
                    <img src="/assets/images/sw6.jpg" class="al-safe-thumb" alt="">
                </div>
            </div>

            <div class="al-safe-card">
                <div class="al-safe-image">
                    <img src="/assets/images/sw8-shorts-1.jpg" class="al-safe-thumb" alt="">

                </div>

            </div>

            <div class="al-safe-card">

                <div class="al-safe-image">
                    <img src="/assets/images/sw7.jpg" class="al-safe-thumb" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
